body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background-color: #111530;
    color: #222;
}

/* ENCABEZADO */
.encabezado {
    position: relative;
    text-align: center;
    color: rgb(22, 20, 20);
}

.imagen-encabezado {
    width: 100%;
    height: 300px;
    object-fit: cover;
    filter: brightness(55%);
}

.texto-encabezado {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.texto-encabezado h1 {
    font-size: 2em;
    margin: 0;
}

.texto-encabezado p {
    font-size: 1.1em;
}

/* MENÚ */
.menu {
    background-color: #77C3C9;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menu a {
    color: white;
    padding: 15px 20px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.menu a:hover {
    background-color: #072224;
}

.menu .activo {
    background-color: #072224;
}

/* CONTENIDO */
.contenido {
    max-width: 900px;
    margin: auto;
    padding: 40px 20px;
}

h2 {
    text-align: center;
    color: #071924;
    margin-bottom: 30px;
}

/* LISTA DE AVISOS */
.lista-avisos {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.aviso {
    background-color: white;
    border-left: 6px solid #000000;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s, box-shadow 0.3s;
}

.aviso:hover {
    transform: translateY(-6px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.15);
}

.aviso .fecha {
    display: block;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 8px;
}

.aviso h3 {
    margin: 5px 0;
    color: #000000;
}

.aviso p {
    margin: 0;
    line-height: 1.6;
}

/* PIE */
.pie {
    background-color: #6a4c93;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 40px;
}

/* MÓVIL */
@media (max-width: 768px) {
    .contenido {
        padding: 20px;
    }

    .texto-encabezado h1 {
        font-size: 1.5em;
    }

}
